In [1]:
import requests
import pandas as pd
import numpy as np
import xml.etree.ElementTree as ET

import statid

In [2]:
statdfs=[]
for key,val in statid.idmap.items():
    tdf=pd.DataFrame(val)
    tdf['statId']=key
    statdfs.append(tdf)

st=pd.concat(statdfs)

In [3]:
games=[]
for i in range(1,15):
    url='http://www.nfl.com/ajax/scorestrip?season={}&seasonType={}&week={}'.format(2019,"REG",i)

    root=ET.fromstring(requests.get(url).text)

    for i in root[0]:
        games.append(i.attrib['eid'])

In [4]:
sqlGame = {'gid':[np.nan],
          'home':[''],
          'away':[''],
          'h_score':[''],
          'a_score':[''],
          'h_yds':[''],
          'a_yds':['']}

sqlGame=pd.DataFrame(sqlGame)

In [5]:
sqlDrive = {'gid':[np.nan],
          'driveid':[''],
          'posteam':[''],
          'fds':[''],
          'penyds':[''],
          'ydsgained':[''],
          'numplays':[''],
          'postime':[''],
          'start_qtr':[''],
          'start_time':[''],
          'start_yrdln':[''],
          'end_qtr':[''],
          'end_time':[''],
          'end_yrdln':[''],
           'defteam':['']}
sqlDrive=pd.DataFrame(sqlDrive)

In [6]:
sqlPlays = pd.DataFrame({'sequence': [0],
                         'clubcode': [''],
                         'playerName': [''],
                         'statId': [0],
                         'yards': [0.0],
                         'posteam': [''],
                         'defteam': [''],
                         'desc': [''],
                         'playerID': [''],
                         'gid': [np.nan],
                         'play': [1],
                         'drive': [0]})
sqlPlays=pd.DataFrame(sqlPlays)

In [7]:
def parse_GameData(game):
    sqlGameApp = {'gid':gid,
          'home':[game.loc['abbr']['home']],
          'away':[game.loc['abbr']['away']],
          'h_score':[game.loc['score']['home']['T']],
          'a_score':[game.loc['score']['away']['T']]}

    return pd.DataFrame(sqlGameApp)

In [8]:
def parse_DriveData(drive,drive_id):
    try:
        drive=pd.DataFrame(drive)
    except ValueError:
        return
    sqlDriveApp = {'gid':[gid],
              'driveid':[drive_id],
              'posteam':[drive.loc['team']['posteam']],
              'fds':[drive.loc['team']['fds']],
              'penyds':[drive.loc['team']['penyds']],
              'ydsgained':[drive.loc['team']['ydsgained']],
              'numplays':[drive.loc['team']['numplays']],
              'postime':[drive.loc['team']['postime']],
              'start_qtr':[drive.loc['qtr']['start']],
              'start_time':[drive.loc['time']['start']],
              'start_yrdln':[drive.loc['yrdln']['start']],
              'end_qtr':[drive.loc['qtr']['end']],
              'end_time':[drive.loc['time']['end']],
              'end_yrdln':[drive.loc['yrdln']['end']]}       
    sqlDriveApp=pd.DataFrame(sqlDriveApp)

    sqlDriveApp['posteam']=sqlDriveApp['posteam'].str.pad(3,'right')
    sqlDriveApp['start_yrdln']=np.where(sqlDriveApp['start_yrdln']=='',sqlDriveApp['posteam']+' 0',sqlDriveApp['start_yrdln'])
    sqlDriveApp['start_yrdln']=np.where(sqlDriveApp['start_yrdln']=='50',sqlDriveApp['posteam']+' 50',sqlDriveApp['start_yrdln'])
    sqlDriveApp['start_yrdln']=sqlDriveApp['start_yrdln'].str.replace('  ',' ')

    sqlDriveApp['start_yrdln']=np.where(sqlDriveApp['posteam']==sqlDriveApp['start_yrdln'].str[:3].str.strip(),
                               sqlDriveApp['start_yrdln'].str.split(' ').str[1],
                               (50-sqlDriveApp['start_yrdln'].str.split(' ').str[1].astype(np.int64))+50)

    sqlDriveApp['end_yrdln']=sqlDriveApp['start_yrdln'].astype(np.int64)+sqlDriveApp['penyds'].astype(np.int64)+sqlDriveApp['ydsgained'].astype(np.int64)
    sqlDriveApp['gid']=gid

    dteam={d[str(gid)]['home']['abbr']:d[str(gid)]['away']['abbr'],
           d[str(gid)]['away']['abbr']:d[str(gid)]['home']['abbr'],
          '':''}

    sqlDriveApp['defteam']=sqlDriveApp['posteam'].str.strip().apply(lambda x: dteam[x])

    return pd.DataFrame(sqlDriveApp)

In [9]:
def parse_play(drive,drive_id,play_id,defteam):
    drivePlays = pd.DataFrame({'sequence': [0],
                             'clubcode': [''],
                             'playerName': [''],
                             'statId': [0],
                             'yards': [0.0],
                             'posteam': [''],
                             'defteam': [''],
                             'desc': [''],
                             'playerID': [''],
                             'gid': [''],
                             'play': [1],
                             'drive': [0]})
    for key,play in drive['plays'].items():
        play_id+=1
        playDesc = play['desc']
        posteam = play['posteam']
        for key,val in play['players'].items():
            val[0]['posteam']=posteam
            val[0]['defteam']=defteam
            val[0]['desc']=playDesc
            val[0]['playerID']=key
            val[0]['gid']=gid
            val[0]['play']=play_id
            val[0]['drive']=drive_id
            temp_df = val[0]
            drivePlays=drivePlays.append(pd.DataFrame(temp_df,index=[0]))
    return drivePlays

In [10]:
for gid in games:
    url2='http://www.nfl.com/liveupdate/game-center/{}/{}_gtd.json'.format(gid,gid)
    d=requests.get(url2).json()
    game = pd.DataFrame(d[str(gid)])
    sqlGameApp=parse_GameData(game)
    drive_id=0
    play_id=0
    for drive in game['drives'].dropna():
        if type(drive)!= dict:
            continue
        drive_id+=1
        parsed_drive=parse_DriveData(drive,drive_id)
        defteam=parsed_drive['defteam'].tolist().pop()
        sqlDrive=sqlDrive.append(parsed_drive)
        sqlPlays=sqlPlays.append(parse_play(drive,drive_id,play_id,defteam))
        
    
        
    game_yards=sqlDrive.pivot_table(index=['gid','defteam'],
                                    values='ydsgained',
                                    aggfunc=sum).reset_index()   
    
    sqlGameApp=pd.merge(sqlGameApp,game_yards,left_on=['gid','home'],
         right_on=['gid','defteam']).\
        drop('defteam',axis=1).\
        rename({'ydsgained':'h_yds'},axis=1)

    sqlGameApp=pd.merge(sqlGameApp,game_yards,left_on=['gid','away'],
         right_on=['gid','defteam']).\
        drop('defteam',axis=1).\
        rename({'ydsgained':'a_yds'},axis=1)  
    
    sqlGame=sqlGame.append(sqlGameApp)

In [11]:
sqlGame.dropna(subset=['gid'],axis=0)

           gid home away h_score a_score h_yds a_yds
0   2019090500  CHI   GB       3      10   213   254
0   2019090800  CAR   LA      27      30   346   343
0   2019090801  CLE  TEN      13      43   339   346
0   2019090802  JAX   KC      26      40   491   428
0   2019090803  MIA  BAL      10      59   643   200
..         ...  ...  ...     ...     ...   ...   ...
0   2019120810  ARI  PIT      17      23   275   236
0   2019120811   NE   KC      16      23   346   278
0   2019120812  OAK  TEN      21      42   552   355
0   2019120813   LA  SEA      28      12   301   455
0   2019120900  PHI  NYG      23      17   248   406

[208 rows x 7 columns]

In [12]:
sqlDrive.dropna(subset=['gid'],axis=0)

,gid,driveid,posteam,fds,penyds,ydsgained,numplays,postime,start_qtr,start_time,start_yrdln,end_qtr,end_time,end_yrdln,defteam
0,2019090500,1,GB,0,0,-10,5,1:59,1,15:00,75,1,13:01,65,CHI
0,2019090500,2,CHI,2,5,7,8,3:22,1,13:01,43,1,09:39,55,GB
0,2019090500,3,GB,0,0,-7,4,1:46,1,09:39,88,1,07:53,81,CHI
0,2019090500,4,CHI,1,0,16,6,3:44,1,07:53,64,1,04:09,80,GB
0,2019090500,5,GB,0,0,5,5,0:56,1,04:09,60,1,03:13,65,CHI
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
0,2019120900,23,PHI,6,5,80,17,6:17,4,08:10,15,4,01:53,100,NYG
0,2019120900,24,NYG,0,0,7,6,0:28,4,01:53,25,4,01:25,32,PHI
0,2019120900,25,PHI,1,0,21,6,1:15,4,01:25,24,4,00:10,45,NYG
0,2019120900,26,NYG,0,0,-1,2,0:10,4,00:10,20,4,00:00,19,PHI
0,2019120900,27,PHI,5,0,75,11,4:50,5,10:00,25,5,05:10,100,NYG

In [13]:
sqlPlays.dropna(subset=['gid'],axis=0)

,sequence,clubcode,playerName,statId,yards,posteam,defteam,desc,playerID,gid,play,drive
0,0,,,0,0.0,,,,,,1,0
0,3,GB,None,51,0.0,CHI,CHI,E.Pineiro kicks 65 yards from CHI 35 to end zo...,0,2019090500,1,1
0,1,CHI,E.Pineiro,410,74.0,CHI,CHI,E.Pineiro kicks 65 yards from CHI 35 to end zo...,00-0034173,2019090500,1,1
0,1,GB,A.Jones,10,0.0,GB,CHI,(15:00) A.Jones left tackle to GB 25 for no ga...,00-0033293,2019090500,2,1
0,2,CHI,R.Smith,79,0.0,GB,CHI,(15:00) A.Jones left tackle to GB 25 for no ga...,00-0034874,2019090500,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...
0,2,NYG,A.Bethea,79,0.0,PHI,NYG,(6:00) B.Scott up the middle to NYG 2 for 6 ya...,00-0024421,2019120900,8,27
0,1,PHI,None,68,0.0,,NYG,Timeout #1 by PHI at 05:13.,0,2019120900,9,27
0,1,PHI,None,4,0.0,PHI,NYG,(5:13) (Shotgun) C.Wentz pass short middle to ...,0,2019120900,10,27
0,2,PHI,C.Wentz,16,2.0,PHI,NYG,(5:13) (Shotgun) C.Wentz pass short middle to ...,00-0032950,2019120900,10,27
0,4,PHI,Z.Ertz,22,2.0,PHI,NYG,(5:13) (Shotgun) C.Wentz pass short middle to ...,00-0030061,2019120900,10,27

In [14]:
import sqlite3
con = sqlite3.connect('NFL.db')

In [18]:
# sqlGame.to_sql('game',con)
sqlDrive.to_sql('drive',con)
sqlPlays.to_sql('play',con)